# Ignorer les fichiers de l'environnement virtuel
venv/

# Ignorer les fichiers Python compilés
__pycache__/
*.py[cod]

# Ignorer les fichiers de configuration de l'IDE
.idea/
.vscode/

# Ignorer les fichiers de base de données SQLite
*.db
*.sqlite

# Ignorer les fichiers de logs
*.log

# Ignorer les fichiers de cache
.cache/

# Ignorer les fichiers de dépendances
requirements.txt

# Ignorer les fichiers de credentials
.smb-credential